.hero-more {
  height: 100%;
  width: 100%;
}

.hero-more .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5rem;
}

.more-header {
  margin-bottom: 3rem;
}

.more-header h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

.more-header p {
  font-size: 1.5rem;
  font-weight: 200;
}

.more-header,
.more-content {
  text-align: center;
}

.more-content {
  background-color: rgba(0, 0, 255, 0.1);
}

.more-content p {
  margin: 1rem;
}

.coming-soon {
  color: red;
}
