.hero-more {
  height: 100%;
  width: 100%;
}

.hero-more .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.more-header {
  margin-bottom: 3rem;
}

.more-header h2 {
  font-weight: 700;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typewriter 2s forwards;
}

.more-header,
.more-content {
  text-align: center;
}

.more-content h3 {
  margin: 1rem;
}

.more-content p {
  margin: 1rem;
}

/** Media Queries */

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
