/* TODO */
.coming-soon {
  color: red;
  font-size: 1.2rem !important;
}

.hero-more {
  height: 100%;
  width: 100%;
}

.hero-more .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5rem;
}

.more-header {
  margin-bottom: 3rem;
}

.more-header h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

.more-header p {
  font-size: 1.5rem;
  font-weight: 200;
}

.more-header,
.more-content {
  text-align: center;
}

.more-content h3 {
  font-size: 2rem;
  margin: 1rem;
}

.more-content p {
  font-size: 1rem;
  margin: 1rem;
}

/** Media Queries */

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Same as default */
}
