.projectsMain {
  padding-top: 2rem;
  margin-top: 2rem;
}

.heading {
  font-size: calc(var(--h2-base-font-size) * 2);
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typewriter 4s forwards;
  margin: 0 auto;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.myProjects {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  margin: 2rem 3rem;
  border: 0.2rem solid blue;
  padding: 2rem 5rem 1rem 5rem;
  text-align: center;
  width: 70vw;
}

.project a:link,
.project a:visited {
  color: rgb(120, 120, 250);
  font-size: 1.1em;
  font-weight: 500;
}

.project a:hover {
  color: rgb(90, 90, 250);
}

.projectsMain h3 {
  font-weight: 500;
  text-align: center;
  margin: 1rem 0rem;
  font-size: calc(var(--h3-base-font-size) * 1.8);
}

.projectsMain p {
  font-weight: 200;
  text-align: center;
  margin: 2rem 1rem;
  font-size: calc(var(--p-base-font-size) * 1.25);
}

/** Media Queries */

@media only screen and (max-width: 480px) {
  .project {
    margin: 1rem auto;
    padding: 1rem;
    border: 0.1rem solid blue;
  }
  .projectsMain h3 {
    margin: 0.7rem auto;
  }
  .projectsMain p {
    margin: 0.7rem auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project {
    margin: 1.5rem auto;
    padding: 1.5rem;
  }
  .projectsMain h3 {
    margin-bottom: 0.8rem auto;
  }
  .projectsMain p {
    margin: 0.8rem auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .project {
    margin: 2rem auto;
    padding: 2rem;
  }
  .projectsMain h3 {
    margin: 0.9rem auto;
  }
  .projectsMain p {
    margin: 0.9rem auto;
  }
}
