/* TODO */
.update {
  color: red;
  font-size: 1.2rem !important;
  font-weight: 200;
}

/* TODO */
.co-op {
  font-size: 1.5rem !important;
  color: yellow;
}

.about-me {
  height: 100%;
  width: 100%;
}

.about-me .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 3rem;
}

.introduction,
.education,
.skills,
.misc {
  margin: 1rem;
}

.sections h3 {
  font-weight: 500;
  margin: 1rem;
}

.sections h4 {
  font-weight: 300;
  margin: 1rem;
}

.sections h5 {
  font-weight: 300;
  margin: 1rem;
}

.sections h6 {
  font-weight: 300;
  margin: 1rem;
}

.sections p {
  font-weight: 200;
  margin: 0.5rem;
}

/** Media Queries */

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
