/* TODO */
.co-op {
  font-size: 1.5rem !important;
  color: yellow;
}

.about-me {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgb(0, 60, 120), rgb(20, 65, 220) 20%, rgb(20, 65, 220) 80%, rgb(0, 60, 120)),
    linear-gradient(to bottom, rgb(0, 60, 120), rgb(20, 65, 220) 20%, rgb(20, 65, 220) 80%, rgb(0, 60, 120));
  background-blend-mode: multiply;
}

.about-me .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introduction,
.education,
.skills,
.misc {
  margin: 1rem;
  margin-bottom: 4rem;
}

.edu_skills {
  display: flex;
}

.education {
  width: 40%;
}

.skills {
  width: 60%;
}

.sections h3 {
  font-weight: 500;
  margin: 1rem;
}

.sections h4 {
  font-weight: 300;
  margin: 1rem;
}

.sections h5 {
  font-weight: 300;
  margin: 1rem;
}

.sections h6 {
  font-weight: 300;
  margin: 1rem;
}

.sections p {
  font-weight: 200;
  margin: 0.5rem;
}

.checkmark-icon,
.hourglass-icon {
  vertical-align: middle;
  margin-bottom: 0.2rem;
  color: #f5f0f0;
}

.flag-icon {
  vertical-align: middle;
  margin: 0.1rem;
}

.rocket-icon {
  vertical-align: middle;
  color: #ff0000;
}

.shining-icon {
  vertical-align: middle;
  color: #49b4ee;
  margin-bottom: 0.3rem;
}

.about-me h3 {
  transition: transform 0.3s ease-in-out, font-weight 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.about-me h3:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: #91b4d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/** Media Queries */

@media only screen and (max-width: 1024px) {
  .edu_skills {
    display: initial;
  }
  .education {
    width: auto;
  }
  .skills {
    width: auto;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
