/** App Styles */

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Font Sizes */

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

h1 {
  --h1-base-font-size: 2rem;
}

h2 {
  --h2-base-font-size: 1.5rem;
}

h3 {
  --h3-base-font-size: 1.17rem;
}

h4 {
  --h4-base-font-size: 1rem;
}

h5 {
  --h5-base-font-size: 0.83rem;
}

h6 {
  --h6-base-font-size: 0.67rem;
}

p {
  --p-base-font-size: 1rem;
}

li {
  --li-base-font-size: 1rem;
}
