.experiencesMain {
  padding-top: 3rem;
  text-align: center;
}

.heading {
  font-size: calc(var(--h2-base-font-size) * 2);
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typewriter 4s forwards;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.timeline {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #333;
  border: 4px solid #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left::after {
  right: -17px;
}

.right::after {
  left: -17px;
}

.content {
  padding: 20px 30px;
  background-color: #222;
  border: 2px solid #007bff;
  border-radius: 6px;
  position: relative;
}

.externalLink {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  transition: color 0.3s ease;
}

.externalLink:hover {
  color: #007bff;
}

.experiencesMain h3 {
  font-weight: 500;
  margin: 2rem 0.5rem;
  font-size: calc(var(--h3-base-font-size) * 1.8);
}

.experiencesMain h4 {
  font-weight: 400;
  margin: 1rem 0.5rem;
  font-size: calc(var(--h4-base-font-size) * 1.6);
}

.experiencesMain h5 {
  font-weight: 400;
  margin: 0.5rem;
  font-size: calc(var(--h5-base-font-size) * 1.4);
}

.experiencesMain p {
  font-weight: 200;
  margin: 2rem 0.5rem 1rem 0.5rem;
  font-size: calc(var(--p-base-font-size) * 1.25);
}

/** Media Queries */

/* Mobile View */

@media screen and (max-width: 1200px) {
  .timeline::before {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #222;
    border-width: 10px 10px 10px 0;
    border-color: transparent #222 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/* Sizes */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .experiencesMain h3 {
    font-size: calc(var(--h3-base-font-size) * 1.75);
  }
  .experiencesMain h4 {
    font-size: calc(var(--h4-base-font-size) * 1.55);
  }
  .experiencesMain h5 {
    font-size: calc(var(--h5-base-font-size) * 1.35);
  }
  .experiencesMain p {
    font-size: calc(var(--p-base-font-size) * 1.2);
  }
}

@media only screen and (max-width: 768px) {
  .experiencesMain h3 {
    font-size: calc(var(--h3-base-font-size) * 1.7);
  }
  .experiencesMain h4 {
    font-size: calc(var(--h4-base-font-size) * 1.5);
  }
  .experiencesMain h5 {
    font-size: calc(var(--h5-base-font-size) * 1.3);
  }
  .experiencesMain p {
    font-size: calc(var(--p-base-font-size) * 1.15);
  }
}
