.my-projects {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(180, 180, 200) 0%, rgb(85, 35, 165) 90%, rgba(0, 0, 0, 0.9) 100%),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgb(85, 35, 165) 30%,
      rgb(85, 35, 165) 90%,
      rgba(0, 0, 0, 0.8) 100%
    );
  background-blend-mode: multiply;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  margin: 2rem 3rem;
  border: 0.2rem solid blue;
  padding: 2rem 5rem 1rem 5rem;
}

.project a:link {
  color: blue;
}

.project a:visited {
  color: purple;
}

.project a:hover {
  color: red;
}

.projects-container h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.projects-container p {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  margin: 1rem;
}

/** Media Queries */

@media only screen and (max-width: 480px) {
  .project {
    margin: 1rem auto;
    padding: 1rem;
    border: 0.1rem solid blue;
  }
  .projects-container h3 {
    margin: 0.7rem auto;
  }
  .projects-container p {
    margin: 0.7rem auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project {
    margin: 1.5rem auto;
    padding: 1.5rem;
  }
  .projects-container h3 {
    margin-bottom: 0.8rem auto;
  }
  .projects-container p {
    margin: 0.8rem auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .project {
    margin: 2rem auto;
    padding: 2rem;
  }
  .projects-container h3 {
    margin: 0.9rem auto;
  }
  .projects-container p {
    margin: 0.9rem auto;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Same as default */
}
