.hero-home {
  height: 100%;
  width: 100%;
}

.hero-home .images {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-home .images .background-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

@keyframes backgroundHeroHome {
  0% {
    opacity: 0.5;
    background-color: white;
  }
  100% {
    opacity: 0.35;
    background-color: black;
  }
}

.hero-home .images::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  animation: backgroundHeroHome 3s;
  opacity: 0.35;
}

.hero-home .description {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero-home .description h1 {
  font-weight: 900;
  padding: 1rem;
  margin: 1rem;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  animation: fadeIn 2s;
}

.hero-home .description p {
  font-size: 1.7rem;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(72, 21, 148, 0.7);
  animation: scaleUp 1s ease;
  
  font-family: "Roboto", sans-serif;
}

.hero-home .description .Typewriter__cursor {
  font-size: 2rem;
}
