.footer {
  width: 100%;
}

.footer .sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.sections .left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  padding: 1rem;
}

.initials,
.copyright {
  display: flex;
  margin: 0.1rem;
}

.sections .middle {
  display: flex;
  height: 100%;
  max-width: 100%;
  padding: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
}

.socials button {
  background: none;
  border: none;
  cursor: pointer;
}

.socials button:focus {
  outline: none;
}

.icon {
  color: white;
  margin: 0.5rem;
  font-size: 1.5em;
}

/* Ensure buttons have no border or background */
.footer button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer button:focus {
  outline: none;
}



.sections .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  max-width: 100%;
  padding: 1rem;
}

.quote {
  text-align: center;
  margin: 0.1rem;
}

.quote p {
  font-size: 1.1rem;
  font-weight: 200;
}
