.about-me {
  height: 100%;
  width: 100%;
}

.about-me .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 3rem;
}

.introduction, .coding, .misc {
    margin: 1rem;
}
